# Pandas Series

A Series is a one-dimensional labeled array capable of holding any data type. The axis labels are collectively called the index.

## Creating Series
series -> in vertically
There are multiple ways to create a pandas Series:

In [8]:
import numpy as np 
import pandas as pd

In [9]:
labels = ['a', 'b', 'c'] #indexes list of string type
my_list = [10,20,30] # list of int type
arr = np.array([10,20,30]) # array
d = {'a':10,'b':20,'c':30} #dictionary

In [10]:
pd.Series(my_list) # 0,1,2 in outputs which we know indexes are called labels

0    10
1    20
2    30
dtype: int64

In [11]:
pd.Series(my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(arr) #dont pass array with two dimensions as it will give error as series are one dimensionals

0    10
1    20
2    30
dtype: int64

In [13]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64